body {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

@media screen and (min-width: 700px) {
    .navbar-inverse {
        background-color: transparent !important;
    }
    nav {
        border-width: 0px !important;
    }
    #about {
        height: 70vh;
    }
    #portrait img {
        height: 100% !important;
    }
    #portrait {
        padding-left: 0px !important;
    }
    #personal img {
        height: 120px;
    }
    #personal .row {
        padding-top: 70px;
    }
    #technology img {
        height: 150px;
    }
    #about .tooltip {
        margin-top: 30px !important;
    }
    .tooltip {
        top: 110px !important;
    }
    #skills h2 {
        margin: 0px 20px 0px 0px !important;
        text-align: right;
    }
    #non-animate {
        display: none;
    }
    .navbar-brand img {
        margin-top: -5px;
    }
}

nav a {
    font-size: 20px;
    padding: 27px !important;
    color: white !important;
    transition-duration: 0.5s;
}

nav a:hover {
    background-color: #e7e7e7 !important;
    color: #222 !important;
}

.navbar-brand:hover {
    background-color: transparent !important;
}

@media screen and (max-width: 700px) {
    .navbar-brand img {
        margin-top: -15px;
    }
    #main_image {
        height: 600px;
    }
    #content h1 {
        font-size: 20px !important;
        animation: none !important;
    }
    #content h2 {
        font-size: 20px !important;
        animation: none !important;
        opacity: 1 !important;
    }
    #first_line,
    #second_line {
        font-size: 20px !important;
        animation: none !important;
        visibility: visible !important;
    }
    #portrait {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    #personal img {
        margin-top: 20px;
        margin-bottom: 20px;
        height: 50px;
    }
    #technology img {
        height: 40px;
    }
    .tooltip {
        top: 0px !important;
    }
    #skills h2 {
        text-align: left;
    }
    footer ul {
        padding-left: 0px !important;
    }
    footer {
        word-wrap: break-word;
    }
    #animate {
        display: none;
    }
    #main_image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('image/bg-mobile.jpg') !important;
    }
    #non-animate p {
        font-size: 20px;
        color: white;
    }
    footer {
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('image/small-map.jpg') !important;
    }
}

#main_image {
    margin-top: -99px;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('image/bg.jpg');
    background-size: 100% 100%;
    display: table;
}

#content {
    display: table-cell;
    vertical-align: middle;
}

#content h1 {
    color: white;
    font-size: 50px;
    white-space: nowrap;
    overflow: hidden;
    width: 11em;
    border-right: .1em solid transparent;
    animation: type 3s steps(50, end), blinkTextCursor 1s 3.5;
    margin-bottom: 30px;
}

@keyframes blinkTextCursor {
    from,
    to {
        border-right-color: transparent;
    }
    50% {
        border-color: white
    }
}

#content h2 {
    font-size: 28px;
    color: white;
    width: 35em;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    border-right: .1em solid transparent;
}

#first_line {
    animation: type2 4.9s steps(50, end), blinkTextCursor 0.5s 6;
    animation-delay: 4s;
    margin-bottom: 0px;
}

#second_line {
    animation: type2 4.6s steps(50, end), blinkTextCursor 0.5s 5;
    animation-delay: 7s;
    margin-bottom: 0px;
}

@keyframes type {
    from {
        width: 0;
    }
}

@keyframes type2 {
    0% {
        width: 0;
    }
    from {
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

h2> span {
    animation: blink 0.8s infinite;
}

@keyframes blink {
    to {
        opacity: .0;
    }
}

#about {
    background-color: #222222;
    color: white;
    position: relative;
}

#personal h1 {
    margin-top: 50px;
    margin-bottom: 40px;
}

#personal p {
    font-size: 20px;
}

#technology center {
    margin-top: 30px;
    margin-bottom: 30px;
}

#technology img {
    filter: grayscale(100%);
    transition-duration: 0.4s;
}

#technology img:hover {
    filter: grayscale(0%);
}

#technology .row div {
    margin-top: 30px;
    margin-bottom: 50px;
}

#skills .row {
    margin-top: 25px;
    margin-bottom: 25px;
}

.level-bar {
    display: inline-block;
    height: 32px;
    background-color: #1565C0;
    padding: 0px;
    margin: 0px !important;
}

.outer-level {
    background-color: #e7e7e7 !important;
    position: relative;
    display: table;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

#skills {
    background-color: #222;
    color: white;
    padding-bottom: 50px;
}

#skills .row:hover .percent {
    width: 37px;
    padding: 6px 5px 6px 5px;
}

#skills .row h2 {
    transition: 0.5s;
}

#skills .row:hover h2 {
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
}

.percent {
    color: white;
    width: 0px;
    overflow: hidden;
    display: inline-block;
    padding: 6px 0px 6px 0px;
    background-color: #009688;
    position: absolute;
    transition-duration: 0.7s;
}

#skills .row div {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

#project-banner {
    width: 100%;
    height: 60vh;
    background-image: url('image/code-wallpaper.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    display: table;
    text-align: center;
}

#project-banner h1 {
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-size: 60px;
}

#projects {
    background-color: #f4f4f4;
    color: #222;
    font-size: 17px;
}

#projects hr {
    background-color: #222;
    height: 1px;
    border: 0;
}

#projects .row {
    margin-top: 50px;
    margin-bottom: 50px;
}

.project-image {
    display: table;
    background-size: 100% 100%;
    background-image: url('image/atshop.png');
    height: 40vh;
    width: 100%;
    transition-duration: 1s;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .51);
}

.project-image>div {
    display: table-cell;
    vertical-align: middle;
    padding: 5px;
    text-align: center;
    font-size: 25px;
    position: relative;
}

.project-image div a {
    color: white;
    text-decoration: inherit;
    font-weight: inherit;
    border: .1em solid white;
    padding: 10px;
    border-radius: 5px;
    z-index: 2;
    visibility: hidden;
    transition-duration: 0.2s;
    z-index: 2;
    position: relative;
}

.project-image .filter {
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.6);
    left: 0px;
    top: 0px;
    z-index: 1;
    transition-duration: 0.3s;
}

.project-image:hover .filter {
    width: 100%;
}

.project-image:hover a {
    visibility: visible;
}

footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('image/map.jpg');
    background-size: 100% 100%;
    color: white;
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer h1 {
    margin-top: 0px;
}

footer ul {
    margin-bottom: 0px;
}

footer li {
    text-decoration: none;
    list-style: none;
}

footer .row {
    margin-bottom: 30px;
}

#outer {
    background-image: url('IMG_3473.jpg');
    background-size: 100% 100%;
    width: 50%;
    height: 50%;
    position: relative;
}

#outer:hover #hihi {
    visibility: visible;
    height: 50px;
}

#outer:hover #hihi h1 {
    visibility: visible;
}

#hihi {
    position: absolute;
    bottom: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    transition-duration: 0.5s
}

#hihi h1 {
    margin-bottom: 5px;
    margin-top: 5px;
    visibility: hidden;
    transition-delay: 0.1s;
}
