<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12" id="portrait">
                <img src="image/portrait.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-md-8 col-sm-12" id="personal">
                <center>
                    <h1>ABOUT ME</h1>
                    <p><span>#AnhNguyen #22 #VietNam #Espoo #Finland #2ndYear #IT #Student #Metropolia #Young #Diligent #Dynamic #Hard-working #Dedicated #Full-stack #Web-developer #Front-end #Back-end #Design #looking_for_oppotunity
                        </p>
                        <div class="row" >
                            <div class="col-xs-4">
                                <a href="http://users.metropolia.fi/~anhngu/">
                                <img src="image/CV.png" data-toggle="tooltip" title="My CV" data-placement="bottom" onmouseenter="$(this).tooltip('show')" alt="">
                                </a>
                            </div>
                            <div class="col-xs-4">
                            <a href="https://fi.linkedin.com/in/anh-nguyen-a81369111">
                                <img src="image/linkedin.png" data-toggle="tooltip" title="Linkedin" data-placement="bottom" onmouseenter="$(this).tooltip('show')" alt=""></a>
                            </div>
                            <div class="col-xs-4">
                            <a href="https://github.com/anhnguyen300795">
                                <img src="image/github.png" data-toggle="tooltip" title="Github" data-placement="bottom" onmouseenter="$(this).tooltip('show')" alt=""></a>
                            </div>
                        </div>

                    </center>
                </div>
            </div>
        </div>
    </div>
