<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12" id="portrait">
                <img src="image/portrait.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-md-8 col-sm-12" id="personal">
                <center>
                    <h1>ABOUT ME</h1>
                    <p><span>#AnhNguyen #22 #VietNam #Espoo #Finland #2ndYear #IT #Student #Metropolia #Young #Diligent #Dynamic #Hard-working #Dedicated #Full-stack #Web-developer #Front-end #Back-end #Design #looking_for_oppotunity
                        </p>
                        <div class="row" >
                            <div class="col-xs-4">
                                <img src="https://cdn2.iconfinder.com/data/icons/flat-seo-web-ikooni/128/flat_seo-08-512.png" alt="">
                            </div>
                            <div class="col-xs-4">
                                <img src="http://img.talkandroid.com/uploads/2015/11/linkedin-app-logo.png" alt="">
                            </div>
                            <div class="col-xs-4">
                                <img src="http://static.wixstatic.com/media/51a5bd_6e89080215274fd7975c23895800b7b1~mv2.png" alt="">
                            </div>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
