<footer>
    <center>
        <h1>Contact me!</h1>
    </center>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-offset-3">
                <ul>
                    <li><span class="glyphicon glyphicon-earphone"></span> <b>Phone number:</b> +358465666645</li>
                    <li>
                        <span class="glyphicon glyphicon-envelope"></span> <b>Email:</b> anhnguyen6281@gmail.com</li>
                    <li><span class="glyphicon glyphicon-globe"></span> <b>Address:</b> Siltakuja 2 B, 25, Espoo, Finland</li>
                </ul>
            </div>
        </div>
        <center>© Copyright 2016 Anh Nguyen</center>
    </div>
</footer>
