<div id="main_image">
    <div id="content">
        <div class="container">
            <center id="animate">
                <h1 id="intro-name">Hello! I am Anh Nguyen.</h1>
                <h1 id="intro-title">WEB DEVELOPER</h1>
                <h2 id="first_line">I am a software engineer who strongly believe that</h2>
                <br>
                <h2 id="second_line">SIMPLICITY is the key to high SCALIBILITY.<span>|</span></h2>
            </center>
            <center id="non-animate">
                <h1>Hello! I am Anh Nguyen.</h1>
                <h1>WEB DEVELOPER</h1>
                <p>I am a software engineer who strongly believe that SIMPLICITY is the key to high SCALIBILITY.</p>
            </center>
        </div>
    </div>
</div>
