<nav class="navbar navbar-inverse" role="navigation">
    <div id="nav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="#"><img src="http://flaticons.net/icons/Mobile%20Application/Home.png" width="25px"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-inverse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#about"><span class="glyphicon glyphicon-user"></span> About me</a></li>
                    <li><a href="#technology"><span class="glyphicon glyphicon-list-alt"></span> Technologies</a></li>
                    <li><a href="#skills"><span class="glyphicon glyphicon-tasks"></span> Skills</a></li>
                    <li><a href="#project-banner"><span class="glyphicon glyphicon-cloud"></span> Projects</a></li>
                    <li><a href="#contact"><span class="glyphicon glyphicon-earphone"></span> Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
